# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate

# Build products
build/
DerivedData/

# Swift Package Manager
.build/

# Fastlane / tooling
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
